<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/master}">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Personas</title>
</head>
<body>
    <div layout:fragment="page-content">
        <h1>Formulario de Personas</h1>      
        
        <form th:action="@{/guardar}" method="post" th:object="${persona}">

            <div class="mb-3">
                <input type="hidden" name="id" th:field="*{id}">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" th:field="*{nombre}" required>
            </div>

            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" th:field="*{apellido}" required>
            </div>

            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
    </div>
    
</body>
</html>